<div class="ph5-ns">
{{#liquid-bind model class="animPanel" as |newPhoto|}}
  <div class="center square ba bw1 b--light-gray flex items-center">
    <img class="w-100" src="{{newPhoto.source}}">
  </div>
  <p class="mt1 mb2 f6 gray">Credits: {{newPhoto.credits}}</p>
{{/liquid-bind}}
  <!--
  <p>{{model.title}}</p>
  <p>{{model.description}}</p>
  -->

  {{posts/vote-buttons 
    model=model
    voteup=(action "voteup")
    votedown=(action "votedown")
  }}
</div>
