<div>
  <img class="w-100" src="{{model.source}}">
  <p class="mt0 f6 mid-gray">Credits: {{model.credits}}</p>
</div>
<!--
<p>{{model.title}}</p>
<p>{{model.description}}</p>
-->

<p>Upvotes: {{model.upvotes}}</p>
<p>Downvotes: {{model.downvotes}}</p>
