<h1>Post show route</h1>
<img src="{{model.source}}">
<p>{{model.title}}</p>
<p>{{model.description}}</p>

<p>Credits: {{model.credits}}</p>

<p>Upvotes: {{model.upvotes}}</p>
<p>Downvotes: {{model.downvotes}}</p>
