{{#liquid-bind model use="toRight"}}
  <div class="mb2 mb4-ns">
    <img class="w-100" src="{{model.source}}">
    <p class="mt0 mb0 f6 mid-gray">Credits: {{model.credits}}</p>
  </div>
  <!--
  <p>{{model.title}}</p>
  <p>{{model.description}}</p>
  -->

  {{posts/vote-buttons 
    model=model
    voteup=(action "voteup")
    votedown=(action "votedown")
  }}
{{/liquid-bind}}
